/* NAVBAR */

header {
    /* box-shadow: 0 4px 10px -2px rgb(0, 0, 0); */
    z-index: 0;
}



.header-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special {
    color: rgb(158, 0, 0);
    font-weight: 400;
}

.logo {
    left: 45%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.logo-img-header {
    width: 88px;
    height: 38px;
}

.header-items-ul {
    display: flex;
}

.header-items-ul li {
    margin: 0 5px;
}

.header-items-ul li a {
    font-size: 0.8rem;
    color: rgb(122, 122, 122);
}

hr {
    max-width: 1350px;
    margin: auto;
    opacity: 0.4;
}

.header-items-icon {
    margin: 0 4px;
    font-size: 1rem;
}

.header-items-ul li .phone-color {
    color: rgb(0, 0, 145);

}

.navbar {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    z-index: 10;
}

.submenu-ul {
    display: flex;
    padding-bottom: 20px;
}

.submenu-ul li div {
    padding: 0 40px;
}

.sale-img {
    margin-left: 10px;
    width: 16px;
    height: 100%;
}

.submenu-ul li {
    display: block;
}


.submenu-ul li .content__with-img {
    position: relative;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 30px;

}


.heading {
    font-size: 0.8rem;
    font-family: Roboto-bold;
}

.content {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: Roboto-light;

}

.quantity {
    position: absolute;
    bottom: -5px;
    right: -5px;
    font-size: 0.4rem;
    background-color: red;
    color: white;
    padding: 2px 3px;
    border-radius: 50%;
}

.input-text {
    background-color: rgb(230, 230, 230);
    padding: 5px 10px;
    border-radius: 100px;
}

.input-text input {
    border: none;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 1px;
    background-color: transparent;
    width: 350px;
}

.input-text input:focus {
    outline: none;
}

.search-icon {
    font-size: 1rem;
    transform: scaleY(110%);
    cursor: pointer;
}

/* Carousel Design */
.carousel-cell {
    width: 100%;
    height: 70vh;
}


.flickity-page-dots {
    bottom: 25px;
}

.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    opacity: 1;
    border: 1px solid black;
}

.flickity-page-dots .dot.is-selected {
    background-color: black;
}

.flickity-prev-next-button {
    display: none;
}

/* Snow effect */

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(110vh)
    }
}


@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(100px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 4s;
    animation-timing-function: ease-in-out
}

.snowflake .inner {
    opacity: 0.8;
    animation-duration: 5s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear
}

.snowflake .inner img {
    width: 32px;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s
}

.snowflake:nth-of-type(2) {
    left: 30%;
    animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s
}

.snowflake:nth-of-type(3) {
    left: 60%;
    animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s
}

.snowflake:nth-of-type(4) {
    left: 90%;
    animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s
}

/*header img*/

.header-img {
    cursor: pointer;
    position: relative;
    width: 100%;
    overflow: auto;
    height: 100%;
}


.header-link {
    position: relative;
    transition: all ease 0.2s;
    box-sizing: border-box;
}

.header-link::after {
    content: "";
    position: absolute;
    background-color: #C48C46;
    width: 0%;
    height: 2px;
    border-radius: 2px;
    left: 0;
    bottom: 0px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s;
}

.header-link:hover::after {
    width: 100%;
}

.header-link:hover {
    color: #C48C46;

}

/* link 1 */
.header-link1:hover+.header-link1__hovered {
    display: block;
}

.header-link1__hovered:hover {
    display: block;
}

.header-link1__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link1__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link1__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link1__hovered p {
    transition: all ease 0.2s;
}

.header-link1__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* link2 */
.header-link2:hover+.header-link2__hovered {
    display: block;
}

.header-link2__hovered:hover {
    display: block;
}

.header-link2__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link2__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link2__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link2__hovered p {
    transition: all ease 0.2s;
}

.header-link2__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* link 3 */
.header-link3:hover+.header-link3__hovered {
    display: block;
}

.header-link3__hovered:hover {
    display: block;
}

.header-link3__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link3__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link3__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link3__hovered p {
    transition: all ease 0.2s;
}

.header-link3__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* link 4 */
.header-link4:hover+.header-link4__hovered {
    display: block;
}

.header-link4__hovered:hover {
    display: block;
}

.header-link4__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link4__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link4__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link4__hovered p {
    transition: all ease 0.2s;
}

.header-link4__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* link 5 */
.header-link5:hover+.header-link5__hovered {
    display: block;
}

.header-link5__hovered:hover {
    display: block;
}

.header-link5__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link5__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link5__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link5__hovered p {
    transition: all ease 0.2s;
}

.header-link5__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* link 6 */
.header-link6:hover+.header-link6__hovered {
    display: block;
}

.header-link6__hovered:hover {
    display: block;
}

.header-link6__hovered::before {
    content: "";
    background-color: rgb(252, 252, 252);
    height: 13px;
    top: -10px;
    left: -5%;
    position: absolute;
    width: 110%;
}

.header-link6__hovered::after {
    content: "";
    background-color: transparent;
    height: 30px;
    top: -15px;
    left: 0%;
    position: absolute;
    width: 100%;
}

.header-link6__hovered {
    display: none;
    top: 40px;
    left: 20px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 0;
    box-shadow: 0 0 5px 0px #d4d4d4;
}

.header-link6__hovered p {
    transition: all ease 0.2s;
}

.header-link6__hovered p:hover {
    cursor: pointer;
    color: #C48C46;

}

/* Body */
.heading-block-hot-brand {
    padding: 0 6%;
}

.block-hot-categories {
    margin-top: 3%;
    margin: 0 6%;
}

.body-heading-text h2 {
    color: #003868;
    font-size: 1.3rem;
    font-weight: 500;
}

#slider-area {
    position: relative;
}

.owl-carousel {
    cursor: pointer;
}

#slider-area .owl-nav {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 30%;
}

.block-hot-brand .owl-container {
    margin-top: 14px;
}

.icon-custom {
    font-size: 1.7rem;
    font-weight: 600;
}

#slider-area .owl-prev {
    margin-left: -13px;
    color: #7C7A7A;

}

#slider-area .owl-prev:hover {
    background: none;
    color: #7C7A7A;
}

#slider-area .owl-next {
    margin-right: -13px;
    color: #7C7A7A;

}

#slider-area .owl-next:hover {
    background: none;
    color: #7C7A7A;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;

}

.items div {
    width: 65%;
    text-align: center;
}

.items div p {
    font-size: 0.8rem;
}

.block-hot-brand {
    margin-top: 3%;
}

/* Hot brand */


.banner-img-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.banner-img img {
    border-radius: 5px;

}

.banner-img {
    width: 380px;
    height: 430px;
    margin-bottom: 10px;
}

.banner-img-item .banner-img {
    border-radius: 4px;
}

.banner-img-item .banner-short-description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 10px;
}

.banner-short-description p img {
    height: 40px;
    width: auto !important;
}

.banner-short-description p {
    z-index: 4;
    margin: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 65px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

#hot-brand {
    position: relative;
}

#hot-brand .owl-prev {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: -25px;
}

#hot-brand .owl-next {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    right: -25px;
}


/*  */
.block-product-view {
    margin-top: 3%;
    margin: 0 6%;

}

.flex-heading-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-body {
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    font-weight: 300;
}

.p-body::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: black;
}


#products {
    display: flex;
    justify-content: center;
    align-items: center;
}



#products .owl-prev {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: -14px;
}

#products .owl-next {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    right: -14px;
}


#products-clone {
    display: flex;
    justify-content: center;
    align-items: center;
}



#products-clone .owl-prev {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: -14px;
}

#products-clone .owl-next {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    right: -14px;
}


.products-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: auto;
    width: 260px;

}

.products-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
}

.sale-box {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 200px;
}

.pnj-fast-img {
    width: 40px !important;
    margin: 0 8px;
}

.icon-tragop {
    height: 35px !important;
    width: auto !important;
    padding: 0 8px;
    width: auto;
}

.product-description {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 70px;
}

.product-description-m-0 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 70px;
}

.product-font {
    font-size: 0.9rem;
    font-weight: 200;
}

.product-price {
    font-size: 1rem;
    font-weight: 400;
    color: #c89a3f;
}

.product-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    padding-bottom: 10px;
}

.product-footer div i {
    color: #FFC107;
    font-size: 0.6rem;
}

.footer-product-font {
    font-size: 0.7rem;
    font-weight: 200;
}

/*  */
.collections-img {
    position: relative;
    width: 320px;
    height: 425px;

}

.collections-img img {
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.35);
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
}

.collection-items-slider {
    padding: 0 60px;
    width: 880px;
}

#collection-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#collection-carousel .owl-prev {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    left: -14px;
}

#collection-carousel .owl-next {
    font-size: 3rem;
    position: absolute;
    top: 35%;
    right: -14px;
}


.products-container-1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: auto;
    width: 233px;
}


.short-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-more {
    padding: 10px 8px;
    background-color: transparent;
    border: 1px solid #003868;
    padding: 10px 8px;
    min-width: 98px;
    color: #003868;
    line-height: 10px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
}

/* Footer */
.hr-design {
    border-bottom: 1px solid #C1C1C1;
}

.img-logo {
    height: 87px;
}

.footer-content-ul {
    display: flex;

}

.footer-content-ul li a {
    font-size: 0.8rem;
    font-family: Roboto-light;
}

.footer-content-ul div {
    padding: 0 36px;
}

.footer-content-ul li .footer-span-header {
    font-size: Roboto;
    font-size: 0.9rem;
}

.footer-span-content p a {
    font-size: 0.7rem;
    font-family: Roboto-light;
    color: #5255FF;
    line-height: 20px;
}

.footer-span-content {
    font-size: 0.7rem;
    font-family: Roboto-light;
}

.footer-span-header p,
.footer-span-content p {
    line-height: 20px;
    margin: 0;
    padding: 2px 0;
}

.footer-span-content br {
    padding-bottom: 7px 0;
}

.footer-content-ul li .footer-head-link {
    font-size: 0.8rem;
    font-family: Roboto-bold;
}

.footer-content a {
    line-height: 24px;
}

.footer-content-ul .logo-content {
    padding: 0;
    display: flex;
}

.logo-img {
    position: relative;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.text-zalo-api {
    font-size: 0.9rem;
    font-family: Roboto-light;
    line-height: 25px;
}

li .footer-first-div {
    padding: 0 36px 0 0;
}

.col-custom-footer {
    width: calc(8.3333%*5.8);
}

.img-icon {
    margin: 0px 3px;
    margin-top: 10px;
    width: 38px;
    height: 22px;
}

.img-icon-115x38 {
    width: 115px;
    height: 38px;
    margin-top: 3px;

}